@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;800&display=swap");

html,
body {
  border: 0px;
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  --toastify-color-progress-light: #ea5b13;
}
