.header {
  background: #fff;
  font-family: "space-mono";
  height: 85px;
  padding-left: 10px;
  display: flex;
  position: fixed;
  width: 100%;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  left: 0px;
  top: 0px;
}

.headerName{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
}

.logo {
  margin-top: 5px;
  margin-bottom: 3px;
  // width: 50px;
  height: 65px;
  display: block;
}

.menu {
  margin-left: 30px;
  height: 100%;
  width: 300px;
  display: block;
}

.menu ul {
  border: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  list-style: none;
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  /* border-right:1px solid black; */
}

.menu ul li {
  border: 0px;
  padding: 30px;
  padding-left: 10px;
  margin: 0px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;

  vertical-align: middle;
}

.menu ul li a:hover {
  color: #ad124f;
}
