.footer {
  background-color: #3c3c3b;
  min-height: 200px;
  border-top: 5px solid #336699;
}

.rights {
  margin: auto;
  padding: 10px;
  text-align: center;
  color: #eee;
  font-size: 14px;
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
